{% extends 'base.html' %}
{% block content %}
 <main class="container mt-3 mb-5">
    <div class="col">
    <div class="row" align="center">
      <form action="/" class="mw-100" method="POST">
      <div class="row mt-3 w-100000" align="center">

      <div class="w-200" align ="center">

            <div class="col">

              <select class="form-control" id="sphere" name="sphere">
                {% for key, t in spheredict.items() %}
                <option {% if key == defselected %}selected{% endif %}>{{ key }}</option>
                {% endfor %}

              </select>
            </div>
        <div class="col">
          <input class="form-check-input" name="dayornight" type="checkbox" value="True" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Ночная проходимость
          </label>
        </div>

      </div>
      <div class="col-sm" align="right">
        <div class="col float-right">
          Дневная проходимость &nbsp;<b>0</b> &nbsp;&nbsp;&nbsp;<input id="day" name="day" type="text" class="span2" value="" data-slider-min="0" data-slider-max="10000" data-slider-step="5" data-slider-value="[0,10000]"/> &nbsp;&nbsp;&nbsp;<b>10000</b>
        </div>
        <div class="col float-right">
          Ночная проходимость &nbsp;<b>0</b> &nbsp;&nbsp;&nbsp;<input id="night" name="night" type="text" class="span2" value="" data-slider-min="0" data-slider-max="3000" data-slider-step="5" data-slider-value="[0,3000]"/> &nbsp;&nbsp;&nbsp;<b>&nbsp;3000</b>
        </div>

        <div class="col mt-3">
          <button type="submit" class="btn btn-light mu-3 float-right">Подобрать локации</button>
        </div>
      </div>

      </div>
        </form>
    </div>

    <div class="row">
      <div class="col-12 col-lg-10 offset-lg-0 m-auto">

        <div id="plotly-timeseries"></div>

      </div>
    </div>
</div>




  </main>

<script>
  var graph = {{ my_graph | safe }};
  Plotly.plot('plotly-timeseries', graph, {});


  // Without JQuery
  var slider = new Slider('#day', {});
  var slider = new Slider('#night', {});
</script>



{% endblock %}